//SASS Variables

//Styling Colors
$bgColor: #2a2a2a;
$bgaccent0: #5a5a5a;
$bgaccent1: #3a3a3a;
$textColor: #cacaca;
$accent0: #C2F1DB;
$accent0txt: #2a2a2a;
$accent1: #624976;
$accent2: #E1332D;

//Fonts
$russo: 'Russo One',
sans-serif;
$jetbrains: 'JetBrains Mono',
monospace;
$source: 'Source Code Pro',
monospace;

//Web Template
body {
    background-color: $bgColor;
    color: $textColor;
    font-family: $russo;

    a {
        color: $accent1;
    }

    button {
        border-radius: 40px;
        border-bottom: 2px solid $bgaccent0;
        margin: auto;
        text-align: center;
        background-color: $accent1;
        color: $textColor;
        padding: 20px 50px 20px 50px;

        &:focus {
            outline: none;
        }
    }
}

//Classes
.trueCenter {
    margin: auto;
    width: 50%;
    padding-top: 10%;
    text-align: center;
}

.socialOverlay {
    padding-top: 10%;
    padding-right: 1%;
    position: relative;
    float: right;
    p { width: 100%;}
    div {
        transition-duration: 0.5s;
        img {
            height: 64px;
            width: 64px;
            display: inline-block;
            text-align: left;
        }

        &.github {
            background-color: $bgaccent1;
            border-left: 5px solid $bgaccent0;
           
        }
        &.replit {
            background-color: $accent0;
            border-left: 5px solid $bgaccent0;
            
        }
        &.linkedin {
            background-color: #2867B2;
            border-left: 5px solid $bgaccent0;
            
        }
        &.codepen {
            background-color: $accent0;
            border-left: 5px solid $bgaccent0;
            
        }
        // &.last {
        //      border-bottom: 10px solid $bgaccent1;
        // }
        &:hover {
            transition-duration: 0.5s;
            border-left: 10px solid $accent2;
            border-bottom: 5px solid rgba(0, 0, 0, 0.5);
            
        }
        &:active {
            transition-duration: 0.2s;
            border-left: 5px solid $bgaccent0;
            border-bottom: 0px;
        }
    }

}

.portfolio {
    width: 100%;
    height: 100%;
    img {
        height: 100px;
        width: 100px;
        &:active {
            transition-duration: 0.5s;
            transform: rotateY(360deg);
        }
    }
    a {
        display: inline-block;
        padding: 0px 40px 0px 40px;
        &:hover {
            transition-duration: 3s;
            color: $accent2;
        }
        
    }
}
//Menu
.menuToggle {
    display: block;
    position: relative;
    top: 40px;
    left: 20px;
    width: 20%;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;

        &:hover {
            color: $accent1;
        }
    }

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;

        &:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
        }

        &:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        &:checked~ul {
            transform: none;
        }
    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
}

.menu {
    position: absolute;
    width: 300px;
    height: 104vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
        padding: 10px 0;
        font-size: 22px;
    }

}
.activePage {
    color: $accent2;
}

@media only screen and (max-width: 600px) {
    .trueCenter {
        margin: auto;
        width: 50%;
        padding-top: 10%;
        text-align: left;
    }

    .menu {
        position: absolute;
        width: 300px;
        height: 100vh;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        li {
            padding: 10px 0;
            font-size: 22px;
        }

    }

}