body {
  background-color: #2a2a2a;
  color: #cacaca;
  font-family: "Russo One", sans-serif;
}

body a {
  color: #624976;
}

body button {
  border-radius: 40px;
  border-bottom: 2px solid #5a5a5a;
  margin: auto;
  text-align: center;
  background-color: #624976;
  color: #cacaca;
  padding: 20px 50px 20px 50px;
}

body button:focus {
  outline: none;
}

.trueCenter {
  margin: auto;
  width: 50%;
  padding-top: 10%;
  text-align: center;
}

.socialOverlay {
  padding-top: 10%;
  padding-right: 1%;
  position: relative;
  float: right;
}

.socialOverlay p {
  width: 100%;
}

.socialOverlay div {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.socialOverlay div img {
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: left;
}

.socialOverlay div.github {
  background-color: #3a3a3a;
  border-left: 5px solid #5a5a5a;
}

.socialOverlay div.replit {
  background-color: #C2F1DB;
  border-left: 5px solid #5a5a5a;
}

.socialOverlay div.linkedin {
  background-color: #2867B2;
  border-left: 5px solid #5a5a5a;
}

.socialOverlay div.codepen {
  background-color: #C2F1DB;
  border-left: 5px solid #5a5a5a;
}

.socialOverlay div:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-left: 10px solid #E1332D;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.socialOverlay div:active {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-left: 5px solid #5a5a5a;
  border-bottom: 0px;
}

.portfolio {
  width: 100%;
  height: 100%;
}

.portfolio img {
  height: 100px;
  width: 100px;
}

.portfolio img:active {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.portfolio a {
  display: inline-block;
  padding: 0px 40px 0px 40px;
}

.portfolio a:hover {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  color: #E1332D;
}

.menuToggle {
  display: block;
  position: relative;
  top: 40px;
  left: 20px;
  width: 20%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menuToggle a:hover {
  color: #624976;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.menu {
  position: absolute;
  width: 300px;
  height: 104vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.activePage {
  color: #E1332D;
}

@media only screen and (max-width: 600px) {
  .trueCenter {
    margin: auto;
    width: 50%;
    padding-top: 10%;
    text-align: left;
  }
  .menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
}
/*# sourceMappingURL=index.css.map */